@model AspNetUni.Models.TicketModel

<tr>
    <td>@Model.Performer</td>
    <td>@Model.Event</td>
    <td>@Model.EventDate.ToString("yyyy-MM-dd")</td>
    <td>@Model.Location</td>
    <td>@Model.Price</td>
    <td>
        <form method="post" asp-action="AddToCart" asp-controller="Home">
            <input type="hidden" name="ticketId" value="@Model.Id" />
            <button type="submit" class="btn btn-primary">Book a Ticket</button>
        </form>
    </td>
</tr>
