@model AspNetUni.Models.TicketModel

<tr>
    <td>@Model.Performer</td>
    <td>@Model.Event</td>
    <td>@Model.EventDate.ToString("dd-MM-yyyy")</td>
    <td>@Model.Location</td>
    <td>@Model.Price</td>
    <td>@Model.Category?.Name</td>
    <td>
        <button class="btn btn-primary" onclick="addToCart(@Model.Id)">Book a Ticket</button>
    </td>
</tr>


<script type="text/javascript">
    function addToCart(ticketId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToCart", "Home")',
            data: {ticketId: ticketId},
            success: function (response) {

                window.location.reload();
            },
            error: function (xhr, status, error) {
                alert('An error occurred while adding the ticket to the cart.');
            }
        });

        return false;
    }
</script>